.scrolled > #sticky-menu {
  background-color: red;
  position: fixed;
  width: 100%;
  height: 80px;
  animation: animScrolled 0.3s;
}

.not-scrolled > #sticky-menu {
  background-color: red;
  position: fixed;
  width: 100px;
  height: 50px;
  animation: animNotScrolled 0.3s;
}

@keyframes animScrolled {
  0% {
    width: 100px;
    height: 50px;
  }
  100% {
    width: 100%;
    height: 80px;
  }
}

@keyframes animNotScrolled {
  0% {
    width: 100%;
    height: 80px;
  }
  100% {
    width: 100px;
    height: 50px;
  }
}
