.type > .text {
  padding-right: 0.1rem;
  border-right: 0.1rem solid #111;
  animation: flash 0.7s infinite;
}

@keyframes flash {
  0% {
    border-color: #111;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #111;
  }
}
